In [2]:
import pandas as pd
import glob
import re
from datetime import datetime
import xlsxwriter
import sys
from data_processing import *
from main_parameter import *
from ceic_config import OUTPUT_REPORT_SOURCE

In [3]:
# 設定資料最新年分與月份
setting_target_year = int(sys.argv[1])
setting_target_month = int(sys.argv[2])

ValueError: invalid literal for int() with base 10: '--ip=127.0.0.1'

In [3]:
df = loading_tw_rawdata()
print(df)
df.tail(20)

current_file:./rawdata\月報(new)_v5.xlsx

,Select this link and click Refresh/Edit Download to update data and add or remove series,Total Export: Custom Clearance: USD,Total Import: Custom Clearance: USD,Export: Include Re Export: USD: Singapore (f5),Export: Include Re Export: USD: Vietnam (f6),Export: Include Re Export: USD: Philippines (f7),Export: Include Re Export: USD: Malaysia (f8),Export: Include Re Export: USD: Thailand (f9),Export: Include Re Export: USD: Indonesia (f10),Export: Include Re Export: USD: Cambodia (f11),...,Export: Include Re Export: USD: Turkey (f89),Export: Include Re Export: USD: Africa (f90),Export: Include Re Export: USD: Nigeria (f91),Export: Include Re Export: USD: Egypt (f92),Export: Include Re Export: USD: South Africa (f93),Export: Include Re Export: USD: Kenya (f94),Export: Include Re Export: USD: Algeria (f95),Export: Include Re Export: USD: Europe (f96),Year,Month
74,2021-03-01,35872.429,32304.112,2037.906,1245.187,503.686,1031.472,589.387,262.053,77.666,...,119.294,170.409,12.874,35.542,58.700,9.526,4.466,2969.185,2021,3
75,2021-04-01,34900.871,28850.870,2083.061,1258.280,465.172,1088.701,527.185,265.465,74.854,...,112.842,141.623,8.321,33.550,47.191,6.710,4.748,2872.248,2021,4
76,2021-05-01,37403.878,31327.893,2005.712,1280.237,533.939,1156.656,621.662,233.633,70.954,...,99.053,207.471,8.923,38.200,46.957,10.233,3.910,3436.190,2021,5
77,2021-06-01,36647.945,31554.748,2119.761,1238.370,458.483,1074.357,601.382,242.140,58.680,...,123.402,179.327,8.973,37.917,48.280,10.861,3.818,2792.921,2021,6
78,2021-07-01,37951.387,32089.818,2326.574,1190.767,522.639,1221.109,608.937,225.715,67.348,...,106.825,198.735,68.483,29.943,43.449,14.220,2.007,3629.669,2021,7
79,2021-08-01,39540.529,36096.632,2459.900,1078.183,539.595,1026.608,651.232,247.699,58.914,...,115.959,251.953,45.079,51.652,47.998,14.211,5.254,3445.560,2021,8
80,2021-09-01,39627.880,33300.627,2222.627,976.322,470.160,1072.562,590.513,252.554,71.968,...,117.846,223.495,69.924,45.783,43.130,14.839,5.449,3197.204,2021,9
81,2021-10-01,40117.188,34142.329,2167.516,1060.447,538.215,1244.900,596.693,324.956,84.625,...,129.743,244.012,67.481,51.210,59.345,7.302,6.127,3748.765,2021,10
82,2021-11-01,41569.121,35797.910,2337.646,1127.770,478.674,1426.091,595.726,274.644,66.998,...,137.967,180.973,11.462,55.749,48.596,13.339,2.137,3690.135,2021,11
83,2021-12-01,40684.538,34935.599,2223.581,1429.160,577.557,1152.437,632.977,303.121,83.051,...,110.812,140.878,8.011,46.382,36.193,5.104,4.021,3527.340,2021,12
84,2022-01-01,39980.793,34968.928,2564.572,1288.688,553.275,1309.986,668.204,321.027,80.380,...,135.906,243.655,17.197,62.728,59.585,10.527,7.414,3520.693,2022,1
85,2022-02-01,37453.395,31627.983,2528.122,1164.243,650.531,1113.865,571.443,239.099,79.545,...,138.043,181.918,6.208,52.328,61.875,8.391,5.236,3059.819,2022,2
86,2022-03-01,43503.179,38585.884,2539.511,1383.995,636.019,1264.944,601.352,318.260,78.212,...,128.039,176.197,16.950,45.232,51.876,11.772,5.603,3545.106,2022,3
87,2022-04-01,41461.634,36552.353,2549.268,1364.108,565.086,1355.451,665.516,249.008,81.677,...,139.608,175.343,12.881,51.472,51.854,9.457,7.062,3631.340,2022,4
88,2022-05-01,42047.422,39662.325,2488.745,1420.193,751.876,1637.111,641.850,289.741,75.428,...,148.694,440.114,13.829,46.919,163.224,7.327,9.652,3597.993,2022,5
89,2022-06-01,42210.820,37589.926,2813.131,1251.172,590.001,1783.647,606.202,267.043,71.152,...,131.619,244.054,8.890,46.358,50.917,5.141,5.641,3493.036,2022,6
90,2022-07-01,43239.899,38215.977,2661.996,1392.310,690.510,1621.176,675.660,285.088,82.168,...,124.989,331.603,10.372,38.241,61.989,5.261,6.746,3752.020,2022,7
91,2022-08-01,40301.786,37334.079,2522.364,1173.924,606.198,1731.753,744.042,275.638,70.021,...,119.795,465.605,9.087,28.283,63.366,63.945,6.871,3529.499,2022,8
92,2022-09-01,37531.555,32510.704,1951.126,1115.103,680.551,1333.141,562.022,261.010,73.265,...,99.117,244.287,8.123,30.206,52.165,4.451,7.423,3031.324,2022,9
93,2022-10-01,39933.992,36949.256,2822.877,1048.779,687.608,1251.537,560.074,241.389,64.361,...,136.951,133.649,6.802,24.212,40.818,4.472,7.727,3805.015,2022,10

## 我國進出口統計

In [4]:
output_table1 = table1_merge_and_processing(df, setting_target_year, setting_target_month)
output_table1

Year,月份,2022出口,2021出口,出口成長率,2022進口,2021進口,進口成長率,2022出入超,2021出入超
0,1月,39980.8,34264.483,16.6829,34968.9,28170.023,24.1352,5011.86,6094.460
1,2月,37453.4,27790.942,34.7684,31628,23386.978,35.2376,5825.41,4403.964
2,3月,43503.2,35872.429,21.2719,38585.9,32304.112,19.4457,4917.29,3568.317
3,4月,41461.6,34900.871,18.7983,36552.4,28850.870,26.6941,4909.28,6050.001
4,5月,42047.4,37403.878,12.4146,39662.3,31327.893,26.6039,2385.1,6075.985
5,6月,42210.8,36647.945,15.1792,37589.9,31554.748,19.1261,4620.89,5093.197
6,7月,43239.9,37951.387,13.935,38216,32089.818,19.0907,5023.92,5861.569
7,8月,40301.8,39540.529,1.9253,37334.1,36096.632,3.4282,2967.71,3443.897
8,9月,37531.6,39627.880,-5.29,32510.7,33300.627,-2.3721,5020.85,6327.253
9,10月,39934,40117.188,-0.4567,36949.3,34142.329,8.2213,2984.74,5974.859
10,11月,-,41569.121,-,-,35797.910,-,-,5771.211
11,12月,-,40684.538,-,-,34935.599,-,-,5748.939
12,1-10月總計,407664,364117.500,11.9596,363997,311224.000,16.9567,43667.1,52893.500
13,全年,-,446371.200,-,-,381957.500,-,-,64413.700

In [5]:
# 產出 表二  我國對 新南向18國 出口統計
output_table2 = table_merge_output(df, CTY_MAP, TABLE2_DICT, setting_target_year, setting_target_month)
output_table2

==== start ====
area:全球 this_yr:407664.475 last_yr:364117.532 grow_rate:11.9596
area:新南向18國 this_yr:82936.01900000003 last_yr:67297.41900000001 grow_rate:23.238
area:東協10國 this_yr:68855.54200000002 last_yr:57489.765 grow_rate:19.7701
area:新加坡 this_yr:25441.712000000003 last_yr:21157.447 grow_rate:20.2494
area:越南 this_yr:12602.515000000001 last_yr:11409.671 grow_rate:10.4547
area:菲律賓 this_yr:6411.655000000001 last_yr:5016.933 grow_rate:27.8003
area:馬來西亞 this_yr:14402.611 last_yr:10749.31 grow_rate:33.9864
area:泰國 this_yr:6296.365 last_yr:5795.041 grow_rate:8.6509
area:印尼 this_yr:2747.303000000001 last_yr:2492.1110000000003 grow_rate:10.24
area:柬埔寨 this_yr:756.2090000000001 last_yr:706.86 grow_rate:6.9814
area:緬甸 this_yr:168.42600000000002 last_yr:134.33800000000002 grow_rate:25.3748
area:汶萊 this_yr:24.101000000000003 last_yr:20.41 grow_rate:18.0843
area:寮國 this_yr:4.645 last_yr:7.644 grow_rate:-39.2334
area:南亞6國 this_yr:6790.442999999999 last_yr:5477.861000000001 grow_rate:23.9616
area:印度 this_yr:4422.621999999999 last_yr:3609.385 grow_rate:22.5312
area:孟加拉 this_yr:1609.8760000000004 last_yr:941.746 grow_rate:70.9459
area:巴基斯坦 this_yr:464.293 last_yr:593.04 grow_rate:-21.7097
area:斯里蘭卡 this_yr:286.047 last_yr:324.832 grow_rate:-11.94
area:尼泊爾 this_yr:7.597 last_yr:8.758000000000001 grow_rate:-13.2565
area:不丹 this_yr:0.008 last_yr:0.1 grow_rate:-92.0
area:紐澳 this_yr:7290.034 last_yr:4329.793 grow_rate:68.3691
area:澳洲 this_yr:6648.0869999999995 last_yr:3822.391 grow_rate:73.9248
area:紐西蘭 this_yr:641.947 last_yr:507.402 grow_rate:26.5165
==== merge ====

,市場,2022月10月出口,2022月10月成長率,2022月10月出口構成比,2022月1-10月出口,2022月1-10月成長率,2022月1-10月出口構成比,2021年出口,2021年成長率,2021年出口構成比
0,全球,39933.992,-0.4567,100.0000,407664.475,11.9596,100.0000,446371.191,29.3357,100.0000
1,新南向18國,8161.740,10.6925,20.4381,82936.019,23.2380,20.3442,82575.471,35.2076,18.4993
2,東協10國,6694.223,10.9686,16.7632,68855.542,19.7701,16.8902,70241.749,31.9953,15.7362
3,新加坡,2822.877,30.2356,7.0689,25441.712,20.2494,6.2408,25718.674,34.7660,5.7617
4,越南,1048.779,-1.1003,2.6263,12602.515,10.4547,3.0914,13966.601,32.7469,3.1289
5,菲律賓,687.608,27.7571,1.7219,6411.655,27.8003,1.5728,6073.164,7.5656,1.3606
6,馬來西亞,1251.537,0.5331,3.1340,14402.611,33.9864,3.5330,13327.838,40.9124,2.9858
7,泰國,560.074,-6.1370,1.4025,6296.365,8.6509,1.5445,7023.744,32.7964,1.5735
8,印尼,241.389,-25.7164,0.6045,2747.303,10.2400,0.6739,3069.876,34.8314,0.6877
9,柬埔寨,64.361,-23.9456,0.1612,756.209,6.9814,0.1855,856.909,27.9093,0.1920
10,緬甸,16.059,14.5108,0.0402,168.426,25.3748,0.0413,171.984,-16.6672,0.0385
11,汶萊,1.106,124.3408,0.0028,24.101,18.0843,0.0059,24.337,-57.7769,0.0055
12,寮國,0.433,-35.2765,0.0011,4.645,-39.2334,0.0011,8.622,43.5803,0.0019
13,南亞6國,711.970,-6.0740,1.7829,6790.443,23.9616,1.6657,6883.225,64.0825,1.5420
14,印度,519.318,4.7743,1.3004,4422.622,22.5312,1.0849,4522.447,74.2681,1.0132
15,孟加拉,126.509,-9.1569,0.3168,1609.876,70.9459,0.3949,1220.657,44.8447,0.2735
16,巴基斯坦,40.386,-45.9668,0.1011,464.293,-21.7097,0.1139,728.170,65.3297,0.1631
17,斯里蘭卡,25.053,-47.4041,0.0627,286.047,-11.9400,0.0702,401.338,30.7558,0.0899
18,尼泊爾,0.702,1.1527,0.0018,7.597,-13.2565,0.0019,10.509,8.9467,0.0024
19,不丹,0.002,-92.5926,0.0000,0.008,-92.0000,0.0000,0.104,-11.1111,0.0000
20,紐澳,755.547,29.6427,1.8920,7290.034,68.3691,1.7882,5450.497,48.8065,1.2211
21,澳洲,696.259,32.5806,1.7435,6648.087,73.9248,1.6308,4808.452,48.9081,1.0772
22,紐西蘭,59.288,2.8716,0.1485,641.947,26.5165,0.1575,642.045,48.0495,0.1438

In [6]:
# 產出 我對主要市場出口額及成長率
output_table3 = table_merge_output(df, CTY_MAP, TABLE3_PART1_DICT, setting_target_year, setting_target_month)
output_table3

==== start ====
area:全球 this_yr:407664.475 last_yr:364117.532 grow_rate:11.9596
area:中國大陸及香港 this_yr:158077.312 last_yr:154662.228 grow_rate:2.2081
area:美國 this_yr:63512.340000000004 last_yr:53225.781 grow_rate:19.3263
area:日本 this_yr:28072.929000000004 last_yr:23881.067 grow_rate:17.5531
area:新加坡 this_yr:25441.712000000003 last_yr:21157.447 grow_rate:20.2494
area:韓國 this_yr:19078.698 last_yr:16393.928 grow_rate:16.3766
area:越南 this_yr:12602.515000000001 last_yr:11409.671 grow_rate:10.4547
area:馬來西亞 this_yr:14402.611 last_yr:10749.31 grow_rate:33.9864
area:德國 this_yr:7519.258 last_yr:6587.412 grow_rate:14.1459
area:荷蘭 this_yr:7468.307999999999 last_yr:6554.818 grow_rate:13.9362
area:菲律賓 this_yr:6411.655000000001 last_yr:5016.933 grow_rate:27.8003
area:印度 this_yr:4422.621999999999 last_yr:3609.385 grow_rate:22.5312
==== merge ====

,市場,2022月10月出口,2022月10月成長率,2022月10月出口構成比,2022月1-10月出口,2022月1-10月成長率,2022月1-10月出口構成比,2021年出口,2021年成長率,2021年出口構成比
0,全球,39934,-0.4567,100,407664,11.9596,100,446371,29.3357,100
1,2021年我國主要出口市場,-,-,-,-,-,-,-,-,-
2,中國大陸及香港,14715,-9.2493,36.8482,158077,2.2081,38.7763,188875,24.7674,42.3133
3,美國,6413.28,3.1215,16.0597,63512.3,19.3263,15.5796,65686,29.9428,14.7155
4,日本,3142.91,18.6968,7.8702,28072.9,17.5531,6.8863,29206.2,24.8222,6.543
5,新加坡,2822.88,30.2356,7.0689,25441.7,20.2494,6.2408,25718.7,34.766,5.7617
6,韓國,1838.1,-0.6806,4.6028,19078.7,16.3766,4.68,20140.2,33.0217,4.512
7,越南,1048.78,-1.1003,2.6263,12602.5,10.4547,3.0914,13966.6,32.7469,3.1289
8,馬來西亞,1251.54,0.5331,3.134,14402.6,33.9864,3.533,13327.8,40.9124,2.9858
9,德國,806.016,1.6337,2.0184,7519.26,14.1459,1.8445,8172.97,35.3331,1.831
10,荷蘭,1104.74,43.0141,2.7664,7468.31,13.9362,1.832,8079.42,33.6054,1.81
11,菲律賓,687.608,27.7571,1.7219,6411.66,27.8003,1.5728,6073.16,7.5656,1.3606
12,印度,519.318,4.7743,1.3004,4422.62,22.5312,1.0849,4522.45,74.2681,1.0132

In [7]:
# 產出我對其他主要市場出口額及成長率
output_table4 = table_merge_output(df, CTY_MAP, TABLE3_PART2_DICT, setting_target_year, setting_target_month)
output_table4

==== start ====
area:全球 this_yr:407664.475 last_yr:364117.532 grow_rate:11.9596
area:歐洲 this_yr:34965.845 last_yr:31266.761000000002 grow_rate:11.8307
area:立陶宛 this_yr:102.24900000000001 last_yr:103.82900000000001 grow_rate:-1.5217
area:拉脫維亞 this_yr:90.51200000000001 last_yr:71.41399999999999 grow_rate:26.7427
area:愛沙尼亞 this_yr:65.548 last_yr:72.49199999999999 grow_rate:-9.579
area:中東 this_yr:5443.729 last_yr:4595.267 grow_rate:18.4638
area:沙烏地阿拉伯 this_yr:859.5310000000001 last_yr:735.015 grow_rate:16.9406
area:土耳其 this_yr:1302.761 last_yr:1119.1219999999998 grow_rate:16.4092
area:非洲 this_yr:2636.425 last_yr:1900.2049999999997 grow_rate:38.7442
area:奈及利亞 this_yr:110.33900000000001 last_yr:303.80500000000006 grow_rate:-63.681
area:埃及 this_yr:425.97900000000004 last_yr:386.512 grow_rate:10.2111
area:南非 this_yr:657.6689999999999 last_yr:482.73 grow_rate:36.2395
area:肯亞 this_yr:130.744 last_yr:102.99700000000001 grow_rate:26.9396
area:阿爾及利亞 this_yr:69.375 last_yr:48.684000000000005 grow_rate:42.5006
==== merge ====

,市場,2022月10月出口,2022月10月成長率,2022月10月出口構成比,2022月1-10月出口,2022月1-10月成長率,2022月1-10月出口構成比,2021年出口,2021年成長率,2021年出口構成比
0,全球,39933.992,-0.4567,100.0000,407664.475,11.9596,100.0000,446371.191,29.3357,100.0000
1,歐洲,3805.015,1.5005,9.5283,34965.845,11.8307,8.5771,38484.236,36.7448,8.6216
2,立陶宛,8.444,-41.1158,0.0211,102.249,-1.5217,0.0251,131.718,20.9088,0.0295
3,拉脫維亞,6.197,-17.4614,0.0155,90.512,26.7427,0.0222,87.824,9.8775,0.0197
4,愛沙尼亞,4.300,-48.3917,0.0108,65.548,-9.5790,0.0161,87.694,24.2706,0.0196
5,中東,564.794,9.4604,1.4143,5443.729,18.4638,1.3353,5618.326,19.0199,1.2587
6,沙烏地阿拉伯,86.860,-11.1843,0.2175,859.531,16.9406,0.2108,923.237,6.2105,0.2068
7,土耳其,136.951,5.5556,0.3429,1302.761,16.4092,0.3196,1367.901,27.5859,0.3064
8,非洲,133.649,-45.2285,0.3347,2636.425,38.7442,0.6467,2222.056,30.3851,0.4978
9,奈及利亞,6.802,-89.9201,0.0170,110.339,-63.6810,0.0271,323.278,239.1929,0.0724
10,埃及,24.212,-52.7202,0.0606,425.979,10.2111,0.1045,488.643,27.8621,0.1095
11,南非,40.818,-31.2191,0.1022,657.669,36.2395,0.1613,567.519,23.1793,0.1271
12,肯亞,4.472,-38.7565,0.0112,130.744,26.9396,0.0321,121.440,-18.7622,0.0272
13,阿爾及利亞,7.727,26.1139,0.0193,69.375,42.5006,0.0170,54.842,-29.5017,0.0123

# 臺、韓、日、中及新加坡對主要市場市場出口成長率比較

In [8]:
df2 = loading_main_competer_data()
df2.tail(20)

current_file:./rawdata\臺韓日中新對主要市場出口成長率比較(new)_v3.xlsx

,Select this link and click Refresh/Edit Download to update data and add or remove series,Total Export: Custom Clearance: USD (f42),Export: Include Re Export: USD: Mainland China,Export: Include Re Export: USD: Hong Kong SAR (China) (f43),Export: Include Re Export: USD: United States,Export: Include Re Export: USD: Japan,Export: Include Re Export: USD: Singapore (f44),Export: Include Re Export: USD: South Korea,Export: Include Re Export: USD: Vietnam,Export: Include Re Export: USD: Malaysia,...,Exports: Jordan (f77),Exports: Oman (f78),Exports: Iran (f79),Exports: Syrian Arab Rep (f80),Exports: Yemen (f81),Exports: Cyprus (f82),Exports: Turkey (f83),Exports: Africa (f5),Year,Month
74,2021-03-01,35872429,11029854,4871719,5084893,1994219,2037906,1587878,1245187,1031472,...,4189.078447,18754.376816,379.944871,0.000000,1294.047530,29786.932876,64218.133055,4.726961e+05,2021,3
75,2021-04-01,34900871,9257978,5508953,4928785,2524724,2083061,1474085,1258280,1088701,...,6610.957056,10529.116391,435.434310,626.545754,1264.333358,38897.549277,113467.735891,5.745335e+05,2021,4
76,2021-05-01,37403878,10426897,5262032,5435771,2408563,2005712,1698303,1280237,1156656,...,2346.217476,11112.949316,1299.443525,195.518123,680.553467,34733.042563,59557.828245,4.589412e+05,2021,5
77,2021-06-01,36647945,11187638,4961768,5420457,2264792,2119761,1557069,1238370,1074357,...,5661.792276,23537.307837,1745.781777,0.000000,819.647544,36858.642670,55643.044619,4.730409e+05,2021,6
78,2021-07-01,37951387,9910426,5661944,5574126,2597786,2326574,1703630,1190767,1221109,...,6680.684669,8304.559540,1311.789878,179.282869,456.691752,33796.665191,60056.072008,4.449609e+05,2021,7
79,2021-08-01,39540529,11116182,5653824,5994154,2513519,2459900,1839511,1078183,1026608,...,3101.564807,8540.005905,1186.891054,360.200768,1113.817538,40214.791851,56982.580455,4.217597e+05,2021,8
80,2021-09-01,39627880,11720228,5766728,5986684,2599567,2222627,1726329,976322,1072562,...,3925.365383,37561.391795,1402.923066,38.578530,813.116700,34188.738037,88508.049559,4.426144e+05,2021,9
81,2021-10-01,40117188,10843603,5371112,6219149,2647844,2167516,1850691,1060447,1244900,...,5620.048864,52651.217887,1060.931369,426.445547,513.807655,41393.351595,75590.434589,5.600059e+05,2021,10
82,2021-11-01,41569121,11665281,5472490,6634614,2571021,2337646,1864109,1127770,1426091,...,4516.842338,10991.376133,1049.605661,193.852731,437.827080,45487.580158,90587.454854,6.335962e+05,2021,11
83,2021-12-01,40684538,11239827,5834735,5825571,2754130,2223581,1882141,1429160,1152437,...,11073.786123,14752.090362,1802.112366,0.000000,1166.202142,40776.001174,97330.203902,5.301452e+05,2021,12
84,2022-01-01,39980793,10414017,5282537,6269872,2663719,2564572,1842180,1288688,1309986,...,6830.568720,87140.847156,844.194313,39.988152,658.323460,25206.605450,80420.616114,5.100711e+05,2022,1
85,2022-02-01,37453395,10214625,5545601,5486928,2307886,2528122,1636896,1164243,1113865,...,4756.387403,44249.108734,920.231729,623.143197,984.848485,37213.309566,80956.625074,5.796940e+05,2022,2
86,2022-03-01,43503179,11604374,6423085,6942362,2955813,2539511,1939952,1383995,1264944,...,7990.430622,54064.041222,340.080972,64.777328,1006.993007,48974.604343,65807.876334,6.984174e+05,2022,3
87,2022-04-01,41461634,10390802,5943229,6237198,2668003,2549268,2067238,1364108,1355451,...,6747.181965,58995.022691,1548.089592,39.525692,256.916996,56406.821842,69462.743376,8.831796e+05,2022,4
88,2022-05-01,42047422,10012791,5795053,6280391,2842452,2488745,1974391,1420193,1637111,...,4186.130595,11117.940560,1705.112445,0.000000,212.596717,35460.264661,69491.647986,6.610746e+05,2022,5
89,2022-06-01,42210820,9414918,6011583,6937376,3063956,2813131,2084573,1251172,1783647,...,7304.580263,13778.355729,788.180899,60.684872,765.785291,71509.897414,92905.649473,8.775466e+05,2022,6
90,2022-07-01,43239899,10511975,5520546,6954748,2928584,2661996,1989647,1392310,1621176,...,8601.117959,56224.738426,268.023506,105.346137,406.335101,48967.321198,77683.818260,7.865845e+05,2022,7
91,2022-08-01,40301786,10504653,4605303,6127136,2918336,2522364,1949880,1173924,1731753,...,6777.456647,49254.335260,585.260116,0.000000,1057.080925,50859.826590,92485.549133,1.162211e+06,2022,8
92,2022-09-01,37531555,9323160,5844089,5863048,2581275,1951126,1755846,1115103,1333141,...,5378.959276,13512.443439,387.443439,60.096154,1035.067873,45699.943439,79751.131222,8.497596e+05,2022,9
93,2022-10-01,39933992,10454326,4260645,6413281,3142905,2822877,1838095,1048779,1251537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,10

In [15]:
# setting target month  設定2022年1到table5_setting_target_month的月份區間
if setting_target_month > 1:
    table5_setting_target_month = setting_target_month - 1
else:
    table5_setting_target_month = 1
#table5_setting_target_month = 
print("table5_setting_target_month: {}".format(table5_setting_target_month))

##output each major competitor export condition
part_taiwan = table_taiwan(df2, TABLE5_COUNTRY_ITEM_MAP[0][0],TABLE5_COUNTRY_ITEM_MAP[0][1], setting_target_year, table5_setting_target_month, TABLE5_COL_ITEM)
part_korea = table_korea(df2, TABLE5_COUNTRY_ITEM_MAP[1][0],TABLE5_COUNTRY_ITEM_MAP[1][1], setting_target_year, table5_setting_target_month, TABLE5_COL_ITEM)
part_japan = table_japan(df2, TABLE5_COUNTRY_ITEM_MAP[2][0],TABLE5_COUNTRY_ITEM_MAP[2][1], setting_target_year, table5_setting_target_month, TABLE5_COL_ITEM)
part_china = table_china(df2, TABLE5_COUNTRY_ITEM_MAP[3][0],TABLE5_COUNTRY_ITEM_MAP[3][1], setting_target_year, table5_setting_target_month, TABLE5_COL_ITEM)
#part_china
table5 = part_taiwan.merge(part_korea,on='市場', how='left')
table5 = table5.merge(part_japan, on='市場', how='left')
table5 = table5.merge(part_china, on='市場', how='left')
table5

table5_setting_target_month: 9
area:全球 this_yr:367730483.0 last_yr:324000344.0 grow_rate:13.4969
area:中國大陸及香港 this_yr:143362341.0 last_yr:138447513.0 grow_rate:3.55
area:美國 this_yr:57099059.0 last_yr:47006632.0 grow_rate:21.4702
area:日本 this_yr:24930024.0 last_yr:21233223.0 grow_rate:17.4105
area:韓國 this_yr:17240603.0 last_yr:14543237.0 grow_rate:18.5472
area:越南 this_yr:11553736.0 last_yr:10349224.0 grow_rate:11.6387
area:馬來西亞 this_yr:13151074.0 last_yr:9504410.0 grow_rate:38.3681
area:泰國 this_yr:5736291.0 last_yr:5198348.0 grow_rate:10.3483
area:印尼 this_yr:2505914.0 last_yr:2167155.0 grow_rate:15.6315
area:菲律賓 this_yr:5724047.0 last_yr:4478718.0 grow_rate:27.8055
area:印度 this_yr:3903304.0 last_yr:3113731.0 grow_rate:25.3578
area:沙烏地阿拉伯 this_yr:772671.0 last_yr:637217.0 grow_rate:21.2571
area:土耳其 this_yr:1165810.0 last_yr:989379.0 grow_rate:17.8325
area:非洲 this_yr:2502776.0 last_yr:1656193.0 grow_rate:51.1162
area:全球 this_yr:524903188.0 last_yr:467675336.0 grow_rate:12.2367
area:中國大陸及香港 this_yr:143133524.0 last_yr:145932552.0 grow_rate:-1.918
area:美國 this_yr:82973848.0 last_yr:70913991.0 grow_rate:17.0063
area:歐盟 this_yr:50922979.0 last_yr:47252795.0 grow_rate:7.7671
area:日本 this_yr:23639177.0 last_yr:21921301.0 grow_rate:7.8366
area:越南 this_yr:46614621.0 last_yr:40728241.0 grow_rate:14.4528
area:馬來西亞 this_yr:9118429.0 last_yr:6900373.0 grow_rate:32.144
area:泰國 this_yr:6691184.0 last_yr:6425693.0 grow_rate:4.1317
area:印尼 this_yr:7958268.0 last_yr:5922139.0 grow_rate:34.3816
area:菲律賓 this_yr:10024941.0 last_yr:6553653.0 grow_rate:52.9672
area:印度 this_yr:14612368.0 last_yr:11414341.0 grow_rate:28.0176
area:沙烏地阿拉伯 this_yr:3442934.0 last_yr:2135035.0 grow_rate:61.2589
area:土耳其 this_yr:3579369.0 last_yr:5170268.0 grow_rate:-30.7701
area:非洲 this_yr:7964808.0 last_yr:5314664.0 grow_rate:49.8648
area:全球 this_yr:558531448.6866332 last_yr:558640510.6723214 grow_rate:-0.0195
area:中國大陸及香港 this_yr:134914226.2121681 last_yr:146891026.75435978 grow_rate:-8.1535
area:美國 this_yr:101530605.22851466 last_yr:98976707.40867394 grow_rate:2.5803
area:歐盟 this_yr:52881898.568000644 last_yr:52157510.62010978 grow_rate:1.3888
area:韓國 this_yr:41091265.27254098 last_yr:38474021.9390467 grow_rate:6.8026
area:越南 this_yr:13850010.183204133 last_yr:13888546.8073333 grow_rate:-0.2775
area:馬來西亞 this_yr:12565151.184006065 last_yr:11485303.338287264 grow_rate:9.402
area:泰國 this_yr:24449303.612384167 last_yr:24759687.61774725 grow_rate:-1.2536
area:印尼 this_yr:11080931.203276042 last_yr:9542047.776199391 grow_rate:16.1274
area:菲律賓 this_yr:9283376.104329437 last_yr:8102720.235879137 grow_rate:14.5711
area:印度 this_yr:10072897.380664976 last_yr:9648437.834798256 grow_rate:4.3993
area:沙烏地阿拉伯 this_yr:3451609.0477235103 last_yr:3385472.3780790786 grow_rate:1.9535
area:土耳其 this_yr:2309866.333557979 last_yr:2392222.024771417 grow_rate:-3.4426
area:非洲 this_yr:7646680.712249234 last_yr:6982586.976902777 grow_rate:9.5107
area:全球 this_yr:2698594.0621490004 last_yr:2398499.435914 grow_rate:12.5118
area:美國 this_yr:448370.02407800005 last_yr:411750.94102400006 grow_rate:8.8935
area:歐盟 this_yr:429025.89844499994 last_yr:367240.412063 grow_rate:16.8243
area:日本 this_yr:129680.79605599999 last_yr:121692.98362300001 grow_rate:6.5639
area:韓國 this_yr:123354.02069899999 last_yr:107557.099575 grow_rate:14.687
area:越南 this_yr:109047.945662 last_yr:102034.131698 grow_rate:6.874
area:馬來西亞 this_yr:69249.462054 last_yr:52856.903571999996 grow_rate:31.0131
area:泰國 this_yr:58657.259691 last_yr:50182.728632 grow_rate:16.8873
area:印尼 this_yr:54037.612761 last_yr:42557.173849000006 grow_rate:26.9765
area:菲律賓 this_yr:47728.063058 last_yr:41089.412105 grow_rate:16.1566
area:印度 this_yr:89802.61667 last_yr:68535.284345 grow_rate:31.0312
area:沙烏地阿拉伯 this_yr:20803.48056 last_yr:22590.817816 grow_rate:-7.9118
area:土耳其 this_yr:20581.66254 last_yr:20692.379637 grow_rate:-0.5351
area:非洲 this_yr:122018.31192400001 last_yr:107753.92897099999 grow_rate:13.2379

,市場,臺灣成長率,臺灣出口構成比,韓國成長率,韓國出口構成比,日本成長率,日本出口構成比,中國大陸成長率,中國大陸出口構成比
0,全球,13.4969,100,12.2367,100,-0.0195,100,12.5118,100
1,2021年我國主要出口市場,-,-,-,-,-,-,-,-
2,中國大陸及香港,3.55,38.9857,-1.918,27.2686,-8.1535,24.1552,-,-
3,美國,21.4702,15.5274,17.0063,15.8075,2.5803,18.1781,8.8935,16.6149
4,歐盟,-,-,7.7671,9.7014,1.3888,9.468,16.8243,15.8981
5,日本,17.4105,6.7794,7.8366,4.5035,-,-,6.5639,4.8055
6,韓國,18.5472,4.6884,-,-,6.8026,7.357,14.687,4.571
7,越南,11.6387,3.1419,14.4528,8.8806,-0.2775,2.4797,6.874,4.0409
8,馬來西亞,38.3681,3.5763,32.144,1.7372,9.402,2.2497,31.0131,2.5661
9,泰國,10.3483,1.5599,4.1317,1.2747,-1.2536,4.3774,16.8873,2.1736
10,印尼,15.6315,0.6815,34.3816,1.5161,16.1274,1.9839,26.9765,2.0024
11,菲律賓,27.8055,1.5566,52.9672,1.9099,14.5711,1.6621,16.1566,1.7686
12,印度,25.3578,1.0615,28.0176,2.7838,4.3993,1.8035,31.0312,3.3278
13,沙烏地阿拉伯,21.2571,0.2101,61.2589,0.6559,1.9535,0.618,-7.9118,0.7709
14,土耳其,17.8325,0.317,-30.7701,0.6819,-3.4426,0.4136,-0.5351,0.7627
15,非洲,51.1162,0.6806,49.8648,1.5174,9.5107,1.3691,13.2379,4.5216

# 產出成excel檔案

In [10]:
# table1 output to excel
getTime = get_date() 
table1_filename = OUTPUT_REPORT_SOURCE+"01_{}年{}月我國進出口統計_{}.xlsx".format(setting_target_year, setting_target_month, getTime)
sh_name = "sheet1"
unit_title = "單位：百萬美元；%"
t_header = "一、{}年{}月我國進出口統計".format(setting_target_year, setting_target_month)

outputToExcel(output_table1, table1_filename, sh_name, unit_title, t_header)

./output/01_2022年10月我國進出口統計_202211211021.xlsx output_complete

In [11]:
# table2 output to excel
getTime = get_date()
table2_filename = OUTPUT_REPORT_SOURCE+"02_{}年{}月我國對新南向18國出口統計_{}.xlsx".format(setting_target_year, setting_target_month, getTime)
sh_name = "sheet1"
unit_title = "單位：百萬美元；%"
t_header = "二、{}年{}月我國對新南向18國出口統計".format(setting_target_year, setting_target_month)
outputToExcel(output_table2, table2_filename, sh_name, unit_title, t_header)

./output/02_2022年10月我國對新南向18國出口統計_202211211021.xlsx output_complete

In [12]:
# table3 output to excel
getTime = get_date()
table3_filename = OUTPUT_REPORT_SOURCE+"03_{}年{}月我國對主要市場出口額及成長率_{}.xlsx".format(setting_target_year, setting_target_month, getTime)
sh_name = "sheet1"
unit_title = "單位：百萬美元；%"
t_header = "三、{}年{}月我國對主要市場出口額及成長率".format(setting_target_year, setting_target_month)
outputToExcel(output_table3, table3_filename, sh_name, unit_title, t_header)

./output/03_2022年10月我國對主要市場出口額及成長率_202211211021.xlsx output_complete

In [13]:
# table4 output to excel
getTime = get_date()
table4_filename = OUTPUT_REPORT_SOURCE+"04_{}年{}月我國對其他市場出口額及成長率_{}.xlsx".format(setting_target_year, setting_target_month, getTime)
sh_name = "sheet1"
unit_title = "單位：百萬美元；%"
t_header = "四、{}年{}月我國對其他市場出口額及成長率".format(setting_target_year, setting_target_month)
outputToExcel(output_table4, table4_filename, sh_name, unit_title, t_header)

./output/04_2022年10月我國對其他市場出口額及成長率_202211211021.xlsx output_complete

In [16]:
# table5 output to excel
getTime = get_date()
table5_filename = OUTPUT_REPORT_SOURCE+"05_{}年1-{}月臺、韓、日、中對主要市場出口成長率比較表_{}.xlsx".format(setting_target_year, table5_setting_target_month, getTime)
sh_name = "sheet1"
unit_title = "單位：%"
t_header = "五、臺、韓、日、中對主要市場出口成長率比較表({}年1-{}月)".format(setting_target_year, table5_setting_target_month)
outputToExcel(table5, table5_filename, sh_name, unit_title, t_header)

./output/05_2022年1-9月臺、韓、日、中對主要市場出口成長率比較表_202211211024.xlsx output_complete

In [ ]:
####################  END  #####################